<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>CEA102G5</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/TestDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<servlet>
		<servlet-name>TalServlet</servlet-name>
		<servlet-class>com.talent.controller.TalServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TalServlet</servlet-name>
		<url-pattern>/talent/tal.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TalServlet</servlet-name>
		<url-pattern>/back_end/talent/tal.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CoatServlet</servlet-name>
		<servlet-class>com.coach_talent.controller.CoatServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CoatServlet</servlet-name>
		<url-pattern>/coach_talent/coat.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CoatServlet</servlet-name>
		<url-pattern>/back_end/coach_talent/coat.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CoaServlet</servlet-name>
		<servlet-class>com.coach.controller.CoaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CoaServlet</servlet-name>
		<url-pattern>/coach/coa.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CoaServlet</servlet-name>
		<url-pattern>/back_end/coach/coa.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LesServlet</servlet-name>
		<servlet-class>com.lesson.controller.LesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LesServlet</servlet-name>
		<url-pattern>/lesson/les.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LesServlet</servlet-name>
		<url-pattern>/back_end/lesson/les.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LesServlet</servlet-name>
		<url-pattern>/front_end/lesson/les.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdmiServlet</servlet-name>
		<servlet-class>com.admin_info.controller.AdmiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdmiServlet</servlet-name>
		<url-pattern>/admin_info/admi.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdmiServlet</servlet-name>
		<url-pattern>/back_end/admin_info/admi.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FuniServlet</servlet-name>
		<servlet-class>com.function_info.controller.FuniServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FuniServlet</servlet-name>
		<url-pattern>/function_info/funi.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FuniServlet</servlet-name>
		<url-pattern>/back_end/function_info/funi.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ComServlet</servlet-name>
		<servlet-class>com.commodity.controller.ComServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ComServlet</servlet-name>
		<url-pattern>/commodity/com.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ComServlet</servlet-name>
		<url-pattern>/back_end/commodity/com.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ComServlet</servlet-name>
		<url-pattern>/front_end/commodity/com.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ComcServlet</servlet-name>
		<servlet-class>com.commodity_category.controller.ComcServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ComcServlet</servlet-name>
		<url-pattern>/commodity_category/comc.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ComcServlet</servlet-name>
		<url-pattern>/back_end/commodity_category/comc.do</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>ComcServlet</servlet-name>
		<url-pattern>/front_end/commodity_category/comc.do</url-pattern>
	</servlet-mapping>
	

	<servlet>
		<servlet-name>ComfServlet</servlet-name>
		<servlet-class>com.commodity_favorite.controller.ComfServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ComfServlet</servlet-name>
		<url-pattern>/commodity_category/comf.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ComfServlet</servlet-name>
		<url-pattern>/back_end/commodity/comf.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ComfServlet</servlet-name>
		<url-pattern>/front_end/commodity/comf.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ComPicReader</servlet-name>
		<servlet-class>com.commodity.controller.ComPicReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ComPicReader</servlet-name>
		<url-pattern>/commodity/comPic.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CartServlet</servlet-name>
		<servlet-class>com.cart.controller.CartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CartServlet</servlet-name>
		<url-pattern>/cart/comCart.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CartServlet</servlet-name>
		<url-pattern>/front_end/cart/comCart.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>OmServlet</servlet-name>
		<servlet-class>com.ordermaster.controller.OmServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OmServlet</servlet-name>
		<url-pattern>/ordermaster/om.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OmServlet</servlet-name>
		<url-pattern>/back_end/ordermaster/om.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OmServlet</servlet-name>
		<url-pattern>/front_end/ordermaster/om.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MemServlet</servlet-name>
		<servlet-class>com.member.controller.MemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemServlet</servlet-name>
		<url-pattern>/member/mem.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MemServlet</servlet-name>
		<url-pattern>/back_end/member/mem.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MemServlet</servlet-name>
		<url-pattern>/front_end/member/mem.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MemrServlet</servlet-name>
		<servlet-class>com.member_recipient.controller.MemrServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemrServlet</servlet-name>
		<url-pattern>/member_recipient/memr.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MemrServlet</servlet-name>
		<url-pattern>/back_end/member_recipient/memr.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MemrServlet</servlet-name>
		<url-pattern>/front_end/member_recipient/memr.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RecServlet</servlet-name>
		<servlet-class>com.recipe.controller.RecServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecServlet</servlet-name>
		<url-pattern>/recipe/rec.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecServlet</servlet-name>
		<url-pattern>/back_end/recipe/rec.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecServlet</servlet-name>
		<url-pattern>/front_end/recipe/rec.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>RecbServlet</servlet-name>
	    <servlet-class>com.recipe_board.controller.RecbServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
	    <servlet-name>RecbServlet</servlet-name>
	    <url-pattern>/recipeb/recb.do</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
		<servlet-name>RecbServlet</servlet-name>
		<url-pattern>/back_end/recipeb/recb.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecbServlet</servlet-name>
		<url-pattern>/front_end/recipeb/recb.do</url-pattern>
	</servlet-mapping>
  
  	<servlet>
	    <servlet-name>RecrServlet</servlet-name>
	    <servlet-class>com.recipe_report.controller.RecrServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
	    <servlet-name>RecrServlet</servlet-name>
	    <url-pattern>/reciper/recr.do</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
		<servlet-name>RecrServlet</servlet-name>
		<url-pattern>/back_end/reciper/recr.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecrServlet</servlet-name>
		<url-pattern>/front_end/reciper/recr.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LesrServlet</servlet-name>
		<servlet-class>com.lesson_reservation.controller.LesrServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LesrServlet</servlet-name>
		<url-pattern>/lesson.reservation/lesr.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LesrServlet</servlet-name>
		<url-pattern>/back_end/lesson.reservation/lesr.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LesrServlet</servlet-name>
		<url-pattern>/front_end/lesson.reservation/lesr.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LesfServlet</servlet-name>
		<servlet-class>com.lesson_favorites.controller.LesfServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LesfServlet</servlet-name>
		<url-pattern>/lesson.favorites/lesf.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LesfServlet</servlet-name>
		<url-pattern>/back_end/lesson.favorites/lesf.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LesfServlet</servlet-name>
		<url-pattern>/front_end/lesson.favorites/lesf.do</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>ComCommentServlet</servlet-name>
	    <servlet-class>com.util.controller.ComCommentServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
		<servlet-name>ComCommentServlet</servlet-name>
		<url-pattern>/back_end/commodity/ComComment.do</url-pattern>
	</servlet-mapping>
	
	


	
	<filter>
		<filter-name>backEndLoginFilter</filter-name>
		<filter-class>com.tool.filters.BackEndLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>backEndLoginFilter</filter-name>
		<url-pattern>/back_end/admin_info/*</url-pattern>
		<url-pattern>/back_end/coach/*</url-pattern>
		<url-pattern>/back_end/commodity/*</url-pattern>
		<url-pattern>/back_end/function_info/*</url-pattern>
		<url-pattern>/back_end/lesson/*</url-pattern>
		<url-pattern>/back_end/member/*</url-pattern>
		<url-pattern>/back_end/recipe/*</url-pattern>
		<url-pattern>/back_end/talent/*</url-pattern>
		<url-pattern>/back_end/back_end_index.jsp</url-pattern>
	</filter-mapping>



	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>org.sitemesh.config.ConfigurableSiteMeshFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/front_end/*</url-pattern>
		<url-pattern>/back_end/*</url-pattern>
	</filter-mapping>

</web-app>